* {
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
  background-color: rgba(22, 12, 40);
  margin: 50px;
}
body .card-container {
  max-width: 1000px;
  margin: auto;
}
body > h1, body > p {
  text-align: center;
}
body > h1 {
  margin-top: 30px;
  margin-bottom: 0px;
  color: #f50a45;
}
body > p {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 40px;
}

.card-wrapper {
  display: flex;
  margin: 40px 0px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  position: relative;
}
.card-wrapper:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 100%;
  top: 0%;
}
.card-wrapper:nth-child(odd) {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}
.card-wrapper:nth-child(odd):after {
  right: 0%;
  box-shadow: inset -10px 0px 10px -5px rgba(0, 0, 0, 0.4);
}
.card-wrapper:nth-child(even) {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.card-wrapper:nth-child(even):after {
  left: 0%;
  box-shadow: inset 10px 0px 10px -5px rgba(0, 0, 0, 0.4);
}
.card-wrapper:nth-child(even) > div:nth-child(1) {
  order: 2;
}
.card-wrapper:nth-child(even) > div:nth-child(2) {
  order: 1;
}
.card-wrapper > div {
  padding: 20px;
}
.card-wrapper:nth-child(1) {
  background-color: rgb(239, 203, 104);
}
.card-wrapper:nth-child(2) {
  background-color: rgb(239, 203, 104);
}
.card-wrapper:nth-child(3) {
  background-color: rgb(239, 203, 104);
}
.card-wrapper > .card-title {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 160px;
  text-align: center;
}
.card-wrapper > .card-title > h2 {
  margin: 0px;
  transform: rotate(-90deg);
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
}
.card-wrapper > .card-content {
  color: #ffffff;
  align-self: center;
}
@media (max-width: 767px) {
  .card-wrapper {
    flex-wrap: wrap;
    flex-direction: column;
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .card-wrapper:after {
    top: calc(100% - 20px);
    bottom: 0px;
    width: 100%;
    height: 20px;
    box-shadow: inset 0px -10px 10px -5px rgba(0, 0, 0, 0.4) !important;
  }
  .card-wrapper:nth-child(even) > div:nth-child(1) {
    order: 1;
  }
  .card-wrapper:nth-child(even) > div:nth-child(2) {
    order: 2;
  }
  .card-wrapper > .card-title {
    min-height: unset;
  }
  .card-wrapper > .card-title > h2 {
    transform: rotate(0deg);
  }
}